go 1.22.5

use (
	./arg-count
	./project-retro-led-clock/3-animating-the-clock
	./project-retro-led-clock/exercise/alarm
	./project-retro-led-clock/exercise/refactor
	./project-retro-led-clock/exercise/split-second
	./project-retro-led-clock/exercise/ticker
	./slices
	./slices/backing-array
	./slices/pagination
	./slices/slice-header
	./slices/make-and-limit-cap
	./user-pass-1
	./user-pass-2
	./vowel-or-cons
	./test-practice
	//./wire-testing
	aws-sdk
	./slices/exercise-1/22-adv-ops-practice
	./slices/exercise-1/25-add-lines
)
